.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-wRTnrRwLX);
  align-content: flex-start;
  justify-items: center;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 768px) {
  .root > * {
    grid-column: 4;
  }
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 2;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
.freeBox__ydbq2 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__ydbq2 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__blpyj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 1;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__blpyj {
    grid-row-end: span 1;
    grid-column-end: span 1;
  }
}
.productBox__qKkJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.productCard___7Dlum:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField___2FvTd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__qIxmh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__xcp7T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productBox___337Xn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__jOyHb:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__qx5T:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__ggjs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__scKtr {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productBox__vTvjm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.productCard__rs4Yq:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__zxeyc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField___92BA7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.section {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-content: flex-start;
  justify-items: center;
  background: #ffffff;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 8px;
}
.section > * {
  grid-column: 4;
}
.marquee {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  background: var(--token-j58ob94KCPb1);
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 768px) {
  .marquee {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.freeBox__nbAtm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__cCc5C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__krjc:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__nfQp5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__dm8Bs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__eK6Sc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: auto;
  min-width: 0;
  padding: 0px;
}
.productBox__nrPlu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__bwBfz:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__c49Ct:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField___5PrXe:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__oe0A {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__j2Brs:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__ditqL:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__b2Kl5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__daaA5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-iR8SeEwQZ);
  border-top-width: 2px;
  border-right-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 128px 32px;
  border-style: solid;
  border-color: var(--token-wRTnrRwLX);
}
.hero__hWbOf:global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__zj270 {
  display: grid;
  position: relative;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  height: auto;
  max-width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__zj270 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
.freeBox__kF3H9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: span 2;
  grid-column-start: 2;
  grid-column-end: span 2;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__kF3H9 {
    grid-row-end: span 1;
    grid-column-end: span 1;
    grid-column-start: 1;
  }
}
.productBox__hkhb6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.productCard__h3FtS:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__eYzx4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__ka35Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox___0FOlP {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productBox___9O5Gu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__vtO5V:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__faObb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__g3Tap:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__e0Zym {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.productBox__prGj8:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
}
.productCard__mSj8M:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__p1Jwo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField___5F3CJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.marquee2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  cursor: pointer;
  background: var(--token-00vUbJxWk-QO);
  height: auto;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
  padding: 0px;
}
@media (max-width: 768px) {
  .marquee2 {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
.freeBox___25NeA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__xwyvY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__rTmeH:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__riPL:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__d80Ea:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox___0R2Sa {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__w2Wzm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__iVeRs:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__e7FbU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__elzlF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.freeBox__hSkef {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.productBox__ndOut:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.productCard__zr7Qe:global(.__wab_instance) {
  max-width: 100%;
}
.productTextField__bfOgy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.productTextField__kDqiY:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  color: var(--token-iR8SeEwQZ);
  font-size: 32px;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  grid-column-start: 3 !important;
  grid-column-end: -3 !important;
}
